In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df1 = pd.read_csv('data/prices_round_1_day_-2.csv', sep=';')
df2 = pd.read_csv('data/prices_round_1_day_-1.csv', sep=';')
df3 = pd.read_csv('data/prices_round_1_day_0.csv', sep=';')

In [7]:
df1.head()

,day,timestamp,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss
0,-2,0,RAINFOREST_RESIN,9996,1,9995.0,25.0,NaN,NaN,10004,1,10005.0,25.0,NaN,NaN,10000.0,0.0
1,-2,0,KELP,1998,26,NaN,NaN,NaN,NaN,2002,26,NaN,NaN,NaN,NaN,2000.0,0.0
2,-2,0,SQUID_INK,1998,26,NaN,NaN,NaN,NaN,2002,26,NaN,NaN,NaN,NaN,2000.0,0.0
3,-2,100,SQUID_INK,1999,5,1998.0,26.0,NaN,NaN,2001,20,NaN,NaN,NaN,NaN,2000.0,0.0
4,-2,100,RAINFOREST_RESIN,10000,5,9995.0,20.0,NaN,NaN,10005,20,NaN,NaN,NaN,NaN,10002.5,0.0

In [16]:
from scipy.stats import pearsonr

kelp1 = df1[df1['product'] == 'KELP']
resin1 = df1[df1['product'] == 'RAINFOREST_RESIN']
squidink1 = df1[df1['product'] == 'SQUID_INK']

pearsonr(kelp1['mid_price'], squidink1['mid_price'])

PearsonRResult(statistic=0.281493726751658, pvalue=1.6714671204930065e-181)

In [17]:
kelp2 = df2[df2['product'] == 'KELP']
resin2 = df2[df2['product'] == 'RAINFOREST_RESIN']
squidink2 = df2[df2['product'] == 'SQUID_INK']

pearsonr(kelp2['mid_price'], squidink2['mid_price'])

PearsonRResult(statistic=0.15087897074179518, pvalue=5.342644458959605e-52)

In [18]:
kelp3 = df3[df3['product'] == 'KELP']
resin3 = df3[df3['product'] == 'RAINFOREST_RESIN']
squidink3 = df3[df3['product'] == 'SQUID_INK']

pearsonr(kelp2['mid_price'], squidink2['mid_price'])

PearsonRResult(statistic=0.15087897074179518, pvalue=5.342644458959605e-52)

In [27]:
kelp1_pct = kelp1['mid_price'].pct_change(100)[99:]
squidink1_pct = squidink1['mid_price'].pct_change(100)

pearsonr(kelp1_pct, squidink1_pct)

ValueError: array must not contain infs or NaNs

In [26]:
kelp1_pct

5        0.000500
6       -0.000250
10       0.000000
13       0.000000
17       0.000500
           ...
29987    0.000000
29989    0.000000
29991   -0.000246
29996   -0.000493
29998    0.000493
Name: mid_price, Length: 9999, dtype: float64